<div class="wideRow">
<label for="preg"  class="itemNarrow">Tip</label>
<input type="text" class="itemWide" id="preg" name="question" value="<%= tip.text %>" autocomplete="off"/>
</div>

<br/>
<a href="/goback"><button type="button">edit</button></a>

<input type="submit" value="add">